ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
#highlight_player_area {
  background-color: #000000;
  overflow: hidden;
  position: relative;
}

.highlight_player_area_spacer img {
  width: 100%;
  display: block;
}

.highlight_player_item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.screenshot_holder {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.highlight_player_item img {
  width: 100%;
  display: block;
}

.highlight_player_item.tall img {
  width: auto;
  height: 100%;
  display: inline-block;
}

.highlight_overflow {
  overflow: hidden;
  margin-right: 16px;
  position: relative;
}


#highlight_strip {
  margin-top: 4px;
  position: relative;
  height: 69px;
  margin-bottom: 4px;
  z-index: 40;
}

#highlight_strip_scroll {
  position: absolute;
}

.highlight_strip_item {
  float: left;
  height: 65px;
  width: 116px;
  cursor: pointer;
  text-align: center;

  margin: 2px;

  background-color: #000000;

  position: relative;
}

.highlight_strip_item img.movie_thumb {
  width: 116px;
  height: 65px;
}

.highlight_movie_marker {
  position: absolute;
  top: 16px;
  left: 42px;

  width: 32px;
  height: 32px;

  background-image: url( /public/images/v5/ico_game_highlight_video.png );

}
/*
.highlight_strip_item.focus {
  margin: 0px;
  border: 2px solid #d6d7d8;
}
*/
.highlight_strip_item img {
}

#highlight_selector_strip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 602px;
  height: 77px;

  overflow: hidden;
  z-index: 30;
}

#highlight_selector_strip_scroll {
  position: relative;
  z-index: 30;
}

.highlight_selector {
  position: absolute;
  background-image: url( /public/images/v5/game_highlight_activethumb.png );
  width: 116px;
  height: 77px;
  z-index: 50;
  top: -10px;
  pointer-events: none;
}

.highlight_flash_player_notice {
  padding: 120px 40px 0px 40px;
  font-size: 16px;
  color: #B0AEAC;
}

.highlight_flash_player_notice a {
  color: #ffffff;
  text-decoration: underline;
}

.glance_ctn {
  padding: 0px 0px 0px 0px;
}

.glance_ctn .release_date .date,
.glance_ctn .responsive_reviewdesc {
  color: #8f98a0;
}

.glance_ctn .release_date  {
  padding-top: 9px;
  padding-bottom: 13px;
}

.glance_ctn .user_reviews {
  font-size: 12px;
  color: #556772;
  margin-top: 10px;
}
.glance_ctn .user_reviews .title {
  color: #8f98a0;
}

.highlight_movie {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.highlight_movie.container {
  height: 529px;
}

.html5_video_overlay {
  position: absolute;
  bottom: 0px;
  height: 35px;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  text-align: left;
}
.html5_video_overlay .play_button {
  width: 19px;
  height: 19px;
  margin: 1px;
  float: left;
}

.html5_video_overlay .play_button.play {
  background-image:url(play.png);
}

.html5_video_overlay .play_button.pause {
  background-image:url(pause.png);
}

.html5_video_overlay .control_container {
  background-color: #2c2b28;
  margin: 1px;
  height: 19px;
  margin-left: 21px;
}

.html5_video_overlay .volume_icon {
  width: 19px;
  height: 19px;
  margin-left: 3px;
  display: inline-block;
  background-image:url(volumn.png);
}

.html5_video_overlay .volume_icon.muted {
  background-image:url(muted.png);
}

.html5_video_overlay .autoplay_checkbox {
  width: 11px;
  height: 11px;
  margin: 4px;
  display: inline-block;
  background-image:url(autoplay.png);
  margin-left: 15px;
}

.html5_video_overlay .autoplay_checkbox:hover {
  border: 1px solid #cccccc;
  margin: 3px;
  margin-left: 14px;
}

.html5_video_overlay .autoplay_checkbox.checked {
  background-image:url(autoplaychecked.png);
}

.html5_video_overlay .autoplay_label {
  font-size: 10px;
  line-height: 19px;
  display: inline-block;
  vertical-align: top;
}

.html5_video_overlay .volume_slider {
  width: 80px;
  height: 19px;
  display: inline-block;
  margin-left: 5px;
  background-image:url(volumnslide.png);
  position: relative;
}

.html5_video_overlay .volume_slider .volume_handle {
  position: absolute;
  width: 4px;
  height: 19px;
  background-image:url(volumn.png);
}


.html5_video_overlay .time {
  color: #9d9d9d;
  font-size: 10px;
  line-height: 19px;
  margin-right: 5px;
  float: right;
}

.html5_video_overlay .fullscreen_button {
  height: 19px;
  width: 19px;
  margin-right: 3px;
  background-image:url(fullscreen);
  float: right;
}

.html5_video_overlay .fullscreen_button:hover {
  background-image:url(fullscreendone.png);

}

.html5_video_overlay .progress_bar_wrapper {
  position: absolute;
  bottom: 0px;
  top: 21px;
  left: 0px;
  right: 0px;
  background-color: #2c2b28;
}

.html5_video_overlay .progress_bar_background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  bottom: 0px;
  background-color: #595959;
}

.html5_video_overlay .progress_bar_container {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 1px;
}

.html5_video_overlay .progress_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  bottom: 0px;
  background-color: #6f9fc8;
}

.description{
  text-align: center;
 justify-content: center;
}

.game_page_autocollapse_ctn.collapsed {
  padding-bottom: 20px;
}

.game_page_autocollapse_ctn.expanded {
  padding-bottom: 0;
}
.game_description_column {
  font-size: 14px;
  color: #acb2b8;
    margin-top: 16px;
}
.game_description_column .block {
    margin-top: 40px;
    margin-bottom: 16px;
}
.game_description_column .block .right {
  margin-right: 3px;
}
.game_description_column .block .block_header h4 {
  padding-bottom: 3px;
    background-image: url('/public/images/v6/maincol_gradient_rule.png' );
    background-repeat: no-repeat;
    background-position: bottom left;
}
.game_description_column .block .block_header h4 .subh4 {
    color: #8f98a0;
    font-size: 15px;
}

.game_description_column .block .block_header .right a {
    float: right;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    color: #67c1f5;
    font-size: 11px;
    padding: 2px 4px;
}
.game_description_column .block .block_header .right a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #67c1f5; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
    background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.game_description_column .block .block_content a {
    background-color: rgba( 0, 0, 0, 0.2 );
    float: left;
    padding: 15px;
    height: 100px;
    margin-right: 2px;
    border: 1px solid rgba( 0, 0, 0, 0 );
}
.game_description_column .block .block_content a:hover {
    text-decoration: none;
    border: 1px solid rgba( 103, 193, 245, 0.5 );
}

.game_description_column .block .block_content a img {
    width: 171px;
}

.game_description_column .block .block_content a h4 {
    font-size: 13px;
      font-family: "Motiva Sans", Sans-serif;
    font-weight: normal; /* normal */

        font-weight: normal;
    color: #8f98a0;
    width: 171px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0px;
}



.game_area_description_bodylabel {
    color: #8f98a0;
      font-family: "Motiva Sans", Sans-serif;
    font-weight: 300; /* light */

        font-size: 13px;
    line-height: 18px;
}

.game_area_description {
  line-height: 1.5em;
    font-size: 14px;
  margin-top: 30px;
  overflow: hidden;
      font-family: "Motiva Sans", Sans-serif;
    font-weight: normal; /* normal */

    }

.game_area_description p {
  margin-bottom: 8px;
}

.game_area_description p strong, .game_area_description strong {
      font-family: "Motiva Sans", Sans-serif;
    font-weight: bold; /* bold */

    }

.game_area_description h2 {
  margin-bottom: 6px;
}

body.v6 .game_area_description h2.bb_tag {
  margin-top: 18px;
    margin-bottom: 0px;
    background-image: none;
    font-size: 15px;
    color: #2f89bc;
  text-transform: none;
  letter-spacing: 0px;
}

body.v6 .game_area_description h2.bb_tag strong {
      font-family: "Motiva Sans", Sans-serif;
    font-weight: 500; /* medium */

    }